<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know What You Eat</title>
    <!-- 以下引用Bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.bundle.min.js"></script>
    <!-- css link  -->
    <link rel="stylesheet" href="style.css">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

        body {
            font-family: 'Noto Sans TC', sans-serif;
        }


    </style>
</head>

<body class="backGround container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: brown;" >
                <img class="navbarImage" src="./processedImage/crusadeHachiware.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./mainPage.html"
                            style="color: brown;">主頁</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color: brown;">
                            功能列
                        </a>
                        <ul class="dropdown-menu active" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="./tdee-calculator.html">TDEE計算機</a></li>
                            <li><a class="dropdown-item active" href="./nutrition_plate.html">建立營養餐盤</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.google.com" style="color: brown;">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.google.com" style="color: brown;">Pricing</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div id="app">
        <!--連結出的表單-->
        <div class="modal fade" id="addFood">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <div class="adjustUsagiInModal">
                            <img class="usagiInModal" src="./processedImage/usagi_happy_standing.png">
                        </div>
                        <div class="adjustXbuttonInModal">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <!-- 登入表單 -->
                        <form>
                            <div class="form-group">
                                <input style="font-weight:bold;" v-model="newName" type="text" class="name form-control" placeholder="食物名稱">
                            </div>
                            <div class="form-group">
                                <input style="font-weight:bold;" v-model="newCalorie" type="" class="calorie form-control"
                                    placeholder="食物每百公克所提供的熱量">
                            </div>
                            <div class="form-group">
                                <input style="font-weight:bold;" v-model="newProtein" type="" class="protein form-control"
                                    placeholder="食物每百公克所含蛋白質">
                            </div>
                            <div class="form-group">
                                <input style="font-weight:bold;" v-model="newFat" type="" class="fat form-control" placeholder="食物每百公克所含脂質">
                            </div>
                            <div class="form-group">
                                <input style="font-weight:bold;" v-model="newCarbohydrate" type="" class="carbohydrate form-control"
                                    placeholder="食物每百公克所含碳水化合物">
                            </div>
                            <!-- 送出 -->
                            <button @click="pushNewdata(newName, newProtein, newFat, newCarbohydrate, newCalorie)"
                                type="button" class="btn btn-info">新增</button>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <a href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178" target="_blank" >查詢食物營養素</a>
                    </div>
                </div>
            </div>
        </div>
        <!--連結出的表單-->
        <div style="position: fixed; z-index: 99; display: block;">
            <button @click="exportJSON" class="outputButton">匯出資料</button>
            <input type="file" ref="fileInput" @change="importJSON" style="display:none;">
            <button @click="triggerFileInput" class="inputButton" >匯入資料</button>
            <pre>{{ output }}</pre>
            <!-- <img class="cookChiikawa" src="./processedImage/cookChiikawa.png" alt=""> -->
        </div>
        <div class="rounded" style="background-color: lightsteelblue; opacity: .7; margin-top: 50px; height: 1300px;">
            <div class="mainBlockTitle">
                <img class="chiikawaLittleFace" src="./processedImage/chiikawa_little_face.png" alt="">
                <button class="forAddFoodLocation"  type="button" data-bs-toggle="modal"
                data-bs-target="#addFood">新增食物</button>
                <div class="mainTitle">
                    建立你的營養餐盤
                </div>
            </div>
            <div class="fs-1 text-center" style="height: 1000px;" style="display: flex;">
                <table style="margin-left: 20px;">
                    <thead>
                        <tr>
                            <td><input type="checkbox" v-model="data.selectd" @change="selectAll" /></td>
                            <td class="fs-4 bold">名稱</td>
                            <td class="fs-4 bold">蛋白質</td>
                            <td class="fs-4 bold">脂質</td>
                            <td class="fs-4 bold">醣類</td>
                            <td class="fs-4 bold">熱量</td>
                            <td class="fs-4 bold">份量(克)</td>
                            <td class="fs-4 bold">份量修改(克)</td>
                            <td style="font-size: 15px; color: red;">修改份量請大於20克</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, index) in data.list">
                            <td>
                                <input type="checkbox" :value="value" v-model="data.checkboxList" @change="checkSelect">
                            </td>
                            <td class="fs-4">{{ value.name }}</td>
                            <td class="fs-4">{{ value.protein }}</td>
                            <td class="fs-4">{{ value.fat }}</td>
                            <td class="fs-4">{{ value.carbohydrate }}</td>
                            <td class="fs-4">{{ value.calorie }}</td>
                            <td class="fs-4">{{ value.serve }}</td>
                            <td>
                                <input v-model="value.newServe" type="text"
                                    style="width: 100px; height: 40px; font-size: 20px; border-radius:10px; border-width: 2px;"
                                    @change="modifyServeOfFood(value)" placeholder="輸入克數">
                            </td>
                            <td>
                                <button class="buttonForDelete"
                                    @click="deleteElement(index, value.id)">
                                    <img class="momongaInDelete" src="./processedImage/momonga.png">刪除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="fs-4 bold">總熱量：{{ totalCalorie() }}</td>
                            <td></td>
                            <td class="fs-4 bold">蛋白質：{{ proteinOfCalorie() }}%</td>
                            <td></td>
                            <td class="fs-4 bold">脂質：{{ fatOfCalorie() }}%</td>
                            <td></td>
                            <td class="fs-4 bold">醣類：{{ carbohydrateOfCalorie() }}% </td>
                            <td>||</td>
                            <td class="fs-4 bold">其餘：{{ otherOfCalorie() }}%</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

    <script type="module">
        import { createApp, reactive, ref, watch } from './vue.esm-browser.js'

        createApp({
            setup() {
                const data = reactive({
                    selectd: false,
                    checkboxList: [],
                    list: [{
                        id: 1,
                        name: "水",
                        protein: 0,
                        fat: 0,
                        carbohydrate: 0,
                        calorie: 0,
                        serve: 100,
                        newServe: null,
                    },
                    {
                        id: 2,
                        name: "雞胸肉",
                        protein: 31,
                        fat: 3.6,
                        carbohydrate: 0,
                        calorie: 164,
                        serve: 100,
                        newServe: null,

                    },
                    {
                        id: 3,
                        name: "煎餃",
                        protein: 12,
                        fat: 25,
                        carbohydrate: 23.5,
                        calorie: 286.5,
                        serve: 100,
                        newServe: null,
                    }]
                })

                // const newElementOfNewFood = ref({
                //     newName: null,
                //     newProtein: null,
                //     newFat: null,
                //     newCarbohydrate: null,
                //     newCalorie: null,
                // })

                const newName = ref(null)
                const newProtein = ref(null)
                const newFat = ref(null)
                const newCarbohydrate = ref(null)
                const newCalorie = ref(null)
                //輸入新的食物至暫存，推送至data.list，然後初始化templist
                const pushNewdata = (newName, newProtein, newFat, newCarbohydrate, newCalorie) => {
                    let temp =
                    {
                        id: data.list.length + 1,
                        name: `${newName}`,
                        protein: parseFloat(newProtein),
                        fat: parseFloat(newFat),
                        carbohydrate: parseFloat(newCarbohydrate),
                        calorie: parseFloat(newCalorie),
                        serve: 100,
                        newServe: null,
                    }
                    data.list.push(temp)
                }

                const modifyServeOfFood = (value) => {  //修改份量
                    if (value.newServe >= 20) {
                        value.protein = Math.round(value.protein * (value.newServe / value.serve));
                        value.fat = Math.round(value.fat * (value.newServe / value.serve));
                        value.carbohydrate = Math.round(value.carbohydrate * (value.newServe / value.serve));
                        value.calorie = Math.round(value.calorie * (value.newServe / value.serve));
                        value.serve = value.newServe;
                    }
                }

                const totalCalorie = () => {   //計算總熱量
                    let totalenergy = 0;
                    for (let i = 0; i < data.checkboxList.length; i++) {
                        totalenergy += data.checkboxList[i].calorie;
                    }
                    return totalenergy;
                }

                const proteinOfCalorie = () => {
                    let totalProtein = 0;
                    let proteinPercent = 0;
                    for (let i = 0; i < data.checkboxList.length; i++) {
                        totalProtein += data.checkboxList[i].protein;
                    }
                    proteinPercent = (totalProtein * 4) / totalCalorie();
                    return Math.round((proteinPercent * 100));

                }

                const fatOfCalorie = () => {
                    let totalFat = 0;
                    let fatPercent = 0;
                    for (let i = 0; i < data.checkboxList.length; i++) {
                        totalFat += data.checkboxList[i].fat;
                    }
                    fatPercent = (totalFat * 9) / totalCalorie();
                    return Math.round((fatPercent * 100));
                }

                const carbohydrateOfCalorie = () => {
                    let totalCarbohydrate = 0;
                    let carbohydratePercent = 0;
                    for (let i = 0; i < data.checkboxList.length; i++) {
                        totalCarbohydrate += data.checkboxList[i].carbohydrate;
                    }
                    carbohydratePercent = (totalCarbohydrate * 4) / totalCalorie();
                    return Math.round((carbohydratePercent * 100));
                }

                const otherOfCalorie = () => {
                    let carbohydratePercent = 0;
                    carbohydratePercent = 100 - proteinOfCalorie() - fatOfCalorie() - carbohydrateOfCalorie();
                    return carbohydratePercent;
                }

                const selectAll = () => {   //全選&取消全選
                    if (data.selectd) {  //true
                        data.checkboxList = data.list;
                    }
                    else {  //false
                        data.checkboxList = [];
                    }
                }

                const checkSelect = () => {
                    if (data.checkboxList.length == data.list.length && data.list.length != 0) {
                        data.selectd = true;
                    }
                    else {
                        data.selectd = false;
                    }
                }

                const deleteElement = (index, id) => {
                    data.list.splice(index, 1)

                    let newArr = data.checkboxList.filter((value, index) => {
                        return value.id != id
                    })
                    data.checkboxList = newArr;
                }

                const fileInput = ref(null);
                const output = ref('');

                const exportJSON = async () => {
                    const jsonData = JSON.stringify(data.list, null, 2);
                    const blob = new Blob([jsonData], { type: 'application/json' });

                    // 使用 File System Access API 選擇保存位置和文件名
                    try {
                        const handle = await window.showSaveFilePicker({
                            suggestedName: 'data.json',
                            types: [{
                                description: 'JSON Files',
                                accept: {'application/json': ['.json']}
                            }]
                        });

                        const writableStream = await handle.createWritable();
                        await writableStream.write(blob);
                        await writableStream.close();
                    } catch (err) {
                        console.error('Error saving file:', err);
                    }
                };

                const triggerFileInput = () => {
                    fileInput.value.click();
                };

                const importJSON = (event) => {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            const jsonString = e.target.result;
                            const jsonData = JSON.parse(jsonString);
                            data.list = jsonData;
                        };
                        reader.readAsText(file);
                    }
                };

                return {
                    data,
                    modifyServeOfFood,
                    totalCalorie,
                    selectAll,
                    checkSelect,
                    proteinOfCalorie,
                    fatOfCalorie,
                    carbohydrateOfCalorie,
                    otherOfCalorie,
                    deleteElement,
                    pushNewdata,
                    newName,
                    newProtein,
                    newFat,
                    newCarbohydrate,
                    newCalorie,
                    //newElementOfNewFood,
                    fileInput,
                    output,
                    exportJSON,
                    triggerFileInput,
                    importJSON
                }
            }
        }).mount("#app")
    </script>


</body>

</html>